
<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value,fg.controls['descripcion'].value)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
  </div>

  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl"   placeholder="Copia y pega una url de la lista..." [formControl]="fg.controls['url']" >
  </div>
  <div class="form-group">
    <label for="descrip">Descripción</label>
    <textarea class="form-control"  id="descrip" cols="30" rows="4" placeholder="Ingresa una descripción" [formControl]="fg.controls['descripcion']"></textarea>
  </div>
  <button type="submit" class="btn	btn-primary" *ngIf="fg.valid"><i class="fas fa-plus pr-1"></i>Agregar</button>
</form>
