<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-4">
  <a class="navbar-brand" href="#"><i class="fas fa-clipboard pr-2"></i>Lista de deseos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="">
          <li class="navbar-item active"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
          <li class="navbar-item"><a class="nav-link" [routerLink]="['/destino']">Destino</a></li>
          <li class="navbar-item"><a class="nav-link" [routerLink]="['/reservas']">Reservas</a></li>
          <li class="navbar-item"><a class="nav-link" [routerLink]="['/vuelos']">Vuelos</a></li>
      </ul>
  </div>
  <div style="float: right;" >
    <select (change)="translate.use($event.target.value)" class="custom-select">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
</nav>


<div class="container content">

  <div class="row pt-5 mt-5">
    <h1>
      <b [innerHTML]="'welcome' | translate"></b>{{ title }} 
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha: {{time | async}}
